@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --background-dark: #242424;
  --background-light:#ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline{
  
  --color-background-light:var(--background-light);
  --color-background-dark:var(--background-dark);

}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
  font-size: 20px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #111;
  text-align: center;
}

 ul {
  margin-bottom: 1rem;
  list-style-type:disc !important;
  margin-left: 1.2rem !important;
}

 li {
  margin-bottom: 0.4rem;
}

 mark {
  background-color: #8bd7e46e;
  padding: 5px;
  border-radius:2px 0px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
