version: "3"
services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: skimbolt
    ports: 
      - "5433:5432"
    volumes:
      - skimbolt:/var/lib/postgresql/data

volumes:
  skimbolt:
